body {
  padding: 0;
  background-color: unset;
}

#home-view-main:hover .collaspsible-content-indent {
  border-left: 1px solid var(--vscode-tree-inactiveIndentGuidesStroke);
}

#home-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 5px;
  background-color: var(--vscode-editorWidget-background);
}

#home-nav.active {
  box-shadow: hsla(0 0% 0% / 0.3) 0 0.5rem 1rem;
  transition-duration: 400ms;
}

#home-nav-intercept {
  margin: 0;
  position: absolute;
}

.home-icon-link-group {
  display: flex;
  align-items: center;
}

.icon-link {
  text-decoration: none;
  color: var(--vscode-foreground);
  align-items: center;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  padding: .3rem;
}

.icon-link:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
  color: var(--vscode-foreground);
  text-decoration: none;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.collapsible-content {
  display: flex;
  max-height: 0px;
  overflow: hidden;
  padding-left: 1.2rem;
  position: relative;
}

.collaspsible-content-indent {
  height: 100%;
  position: absolute;
  left: 6px;
  width: 0;
  border: none;
  box-sizing: border-box;
  border-color: transparent;
  transition: border-color .1s linear;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: fit-content;
  overflow: visible;
}

.toggle:checked + .lbl-toggle > i {
  transform: rotate(90deg)
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
