body {
  padding: 0;
  background-color: unset;
}

#home-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 5px;
  background-color: var(--vscode-editorWidget-background);
}

#home-nav.active {
  box-shadow: hsla(0 0% 0% / 0.3) 0 0.5rem 1rem;
  transition-duration: 400ms;
}

#home-nav-intercept {
  margin: 0;
  position: absolute;
}

.home-icon-link-group {
  display: flex;
  align-items: center;
}

.icon-link {
  text-decoration: none;
  color: var(--vscode-foreground);
  align-items: center;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  padding: .3rem;
}

.icon-link:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
  color: var(--vscode-foreground);
  text-decoration: none;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  padding-left: 1.2rem;
  position: relative;
}

.home-view-form-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 5px;
  column-gap: 16px;
  width: 100%;
}

.home-view-form-container > * {
  height: 25px;
}

.home-view-dropdown-label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
}

.edit-config-button {
  padding: 0 .3rem;
  margin-left: -0.3rem;
}

.edit-config:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}
