input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  cursor: pointer;
  padding-top: 0.4rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  padding-left: 1.2rem;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: fit-content;
  overflow: visible;
}

.toggle:checked + .lbl-toggle > .codicon-chevron-right {
  transform: rotate(90deg)
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.inspector-container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0;
}

.multiple-folder-container {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
}

.multiple-folder-container i, span {
  margin-right: 0.5rem;
}

.inspector-dropdown-folder {
  width: auto;
  flex-grow: 1;
}

.inspector-dropdown-container {
  margin-top: 0.3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.inspector-dropdown-container img {
  margin-right: 0.3rem;
}

.inspector-dropdown-type {
  margin-right: 0.3rem;
  width: fit-content;
}

.inspector-dropdown-value {
  width: -webkit-fill-available;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-container > * {
  padding-top: 0.2rem;
}

.detail-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.4rem;
}

.details-value {
  color: gray;
  font-size: var(vscode-font-size - 2);
}

.detail-link-row {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.detail-link-row:hover {
  color: inherit;
  text-decoration: none; 
  cursor: pointer;  
}

.detail-link-row > i {
  margin-right: 0.3rem;
}
