input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  cursor: pointer;
  padding-top: 0.4rem;
}

.inspector-container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0;
}

.inspector-svg-container {
  margin-right: 0.3rem;
}

.multiple-folder-container {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.multiple-folder-container i, label {
   color: var(--vscode-foreground);
}

.inspector-dropdown-folder {
  width: auto;
  flex-grow: 1;
}

.inspector-dropdown-container img {
  margin-right: 0.3rem;
}

.inspector-dropdown-container label {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
}

.inspector-dropdown-value {
  width: -webkit-fill-available;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inspector-header {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  row-gap: 5px;
  column-gap: 5px;
  width: 100%;
  justify-self: center;
  align-items: center;
}

.details-container > * {
  padding-top: 0.2rem;
}

.detail-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.4rem;
}

.detail-entry-value-link {
  display: flex;
  gap: 5px;
}

.detail-entry-value-link > * {
  cursor:pointer;
}

.variable-link > * {
  cursor: pointer;
}

.details-value {
  color: gray;
  font-size: var(vscode-font-size - 2);
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  cursor: default;
}

.details-value-with-link {
  width: 100%;
}

.clickable-object {
  text-decoration: underline;
  cursor: pointer;
}

.clickable-object:active {
  color: var(--vscode-foreground);
}

span {
  cursor: default;
}

.uppercase-value {
  color: gray;
  text-transform: uppercase;
}

.detail-link-row {
  display: flex;
  align-items: center;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  text-decoration: none;
}

.detail-link-row:hover {
  color: inherit;
  text-decoration: none; 
  cursor: pointer;  
}

.detail-link-row > i {
  margin-right: 0.3rem;
}

.focus {
  outline: 1px solid var(--vscode-foreground);
  padding: 5px;
  margin-top: 5px;
}
