name: Unit and Integration Tests
permissions:
  contents: read

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - main
  merge_group:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DevCycleHQ/license-action@main
        with:
          language: "javascript"
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    env:
      DISPLAY: ':99.0'
    steps:
      - name: Start xvfb
        run: /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 & echo ">>> Started xvfb"

      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --immutable

      - name: Lint Project
        run: yarn lint

      - name: Run Tests
        run: yarn pretest && yarn test

      # - name: Integration Tests
      #   run: yarn test:integration
